
/* Charlie */
.charlie {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  font-size: 1.5em;
  height: 1em;
  border: 0;
  filter: drop-shadow(hsla(0, 0%, 0%, 0.75) 1px 3px 5px);
  width: 75%;
}

.charlie:before,
.charlie:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background-size: 1em 100%;
  height: inherit;
}

.charlie:before {
  background-image:
    linear-gradient(315deg, hsla(0, 0%, 0%, 0.75) 25%, transparent 25%),
    linear-gradient(45deg, hsla(0, 0%, 0%, 0.75) 25%, transparent 25%);
  background-position: 50%;
  top: -0.5em;
}

.charlie:after {
  background-image: 
    linear-gradient(135deg, hsla(0, 0%, 0%, 0.75) 25%, transparent 25%),
    linear-gradient(225deg, hsla(0, 0%, 0%, 0.75) 25%, transparent 25%);
  background-position: -webkit-calc(50% - 0.5em);
  top: 0.5em;
}

/* Wave */
@mixin wavy-border($color:#000, $stroke:1, $width:50, $height:25) {
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$width} #{$height+$stroke}" width="#{$width}" height="#{$height+$stroke}"><path fill="none" stroke="#{$color}" stroke-width="#{$stroke}" d="M0,#{$height+($stroke/2)}c#{$width/4},0,#{$width/4}-#{$height},#{$width/2}-#{$height}s#{$width/4},#{$height},#{$width/2},#{$height}"/></svg>') 0 0 100% repeat;
  border-width: 0 0 #{$height+$stroke}px;
  border-style: solid;
}

.wave {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  box-sizing: border-box;
  width: 35%;
  @include wavy-border(hsla(0, 0%, 75%, 0.9), 3, 12, 12);
  position: relative;
}
.wave:before,
.wave:after {
  position: absolute;
  display: block;
  width: 20px;
  height: 30px;
  background-color: hsl(0, 0%, 75%);
  bottom: -22.5px;
}

.wave:before {
  border-radius: 30px 0 0 30px;
  left: -2px;
}

.wave:after {
  border-radius: 0 30px 30px 0;
  right: -2px;
}

.stars {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  color: gold;
  text-align: center;
  &:after {
    content: "★";
    font-size: 2em;
    text-shadow:
      -4em 0,
      -3em 0,
      -2em 0,
      -1em 0,
      1em 0,
      2em 0,
      3em 0,
      4em 0;
  }
}

// hr {
//   border: 0;
//   margin: 1.35em auto;
//   max-width: 100%;
//   background-position: 50%;
//   box-sizing: border-box;
//   }